  <% my_wishlist.each do |c| %>
    <% if c.status == 'wishlist' %>
      <div class="card-wishlist" id="<%= c.id %>">

        <div class="collection-album-artist">
          <p>Album : <strong><%= link_to c.album.name, album_path(c.album.id), class: "text-delete" %></strong>
          <p>Artist : <strong><%= link_to c.album.artist.name, artist_path(c.album.artist.id), class: "text-delete" %></strong></p>
          <p>Rank : <strong><%= c.album.rank %></strong></p>
          <p><%= c.album.music_style %> - <%= c.album.year %></p>
        </div>

        <div class="format" >

        </div>

        <div class="delete-review">
          <%= simple_form_for c, remote: true do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'collected'} %>
            <%= f.submit "", id: 'wishlist', data: {toggle: "tooltip", original_title: "Add to your collection!" } %>
          <% end %>
          <%= link_to image_tag('x_close.png'), user_album_path(c), method: :delete, remote: true, data: {toggle: "tooltip", original_title: "Remove" } %>
        </div>

      </div>
    <% end %>
  <% end %>

  <div class="buttons">
    <%= link_to "Browse albums", "/", class: "btn-search" %>
  </div>
