<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <% if @avatar_user.present? %>
        <%= cl_image_tag(@avatar_user, crop: :fill, class: "img-circle") %>
      <% else %>
        <%= image_tag "avatar_default.jpg", class: "img-circle" %>
      <% end  %>
        <h2>Hello, <%= current_user.name %></h2>

    </div>
    <div class="tabs">
      <a class="tab active" data-toggle="tab" href="#my-collection">
        <h3>My Collection</h3>
      </a>
      <a class="tab" data-toggle="tab" href="#my-wishlist">
        <h3>My wishlist</h3>
      </a>
    </div>
  </div>
</div>




<div class="tab-content">

  <div id="my-collection" class="tab-pane fade in active content">

    <div class="content-dashboard">
    <h3>MY COLLECTION</h3>
    <div class="h_line"></div>

    <% if @user_album.present? %>
      <% if @user_album.status == 'collected' %>
        <div class="cards-booking">
          <% @user_album.each do |c| %>
          <div class="card-booking">
            <p>Group : <strong><%= c.album.name %></strong></p>
            <p><strong><%= c.year %></strong></p>
            <p>Format : </p>
              <% if c.album.vinyl == true %>
              <p><strong> Vinyl </strong></p>
              <% elsif c.album.cd == true %>
              <p><strong> CD </strong></p>
              <% elsif c.album.digital == true %>
              <p><strong> Digital </strong></p>
              <% end %>
              <%= simple_form_for c do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'wishlist'} %>
                  <%= f.submit 'add to wishlist', class: 'btn-accept' %>
              <% end %>
        <% end %>
        </div>
        <% end %>

    <% else %>
      <p><strong>Hello there !</strong><p></br>
      <p>Here you can add the albums you own.<p>
    </div>
    <% end %>
  </div>


  <div id="my-wishlist" class="tab-pane fade in active content">

    <div class="content-dashboard">
    <h3>MY WISHLIST</h3>
    <div class="h_line"></div>

    <% if @user_album.present? %>
      <% if @user_album.status == 'wishlist' %>
        <div class="cards-booking">
          <% @user_album.each do |c| %>
          <div class="card-booking">
            <p>Group : <strong><%= c.album.name %></strong></p>
            <p><strong><%= c.year %></strong></p>
            <p>Format : </p>
              <% if c.album.vinyl == true %>
              <p><strong> Vinyl </strong></p>
              <% elsif c.album.cd == true %>
              <p><strong> CD </strong></p>
              <% elsif c.album.digital == true %>
              <p><strong> Digital </strong></p>
              <% end %>
              <%= simple_form_for c do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'collected'} %>
                  <%= f.submit 'add to collection', class: 'btn-accept' %>
              <% end %>
        <% end %>
        </div>
        <% end %>

    <% else %>
      <p><strong>Hello there !</strong><p></br>
      <p>Here you can add the albums you wish to own.<p>
    </div>
    <% end %>
  </div>

</div>
</div>

</div>
