<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@artist.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Discover all albums from #{@artist.name}" %>
<% if  %>
 <% @artist.photo.url != nil %>
  <% content_for :meta_image, cl_image_path(@artist.photo) %>
<% end %>

<% if @artist.photo.present? %>
  <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path @artist.photo, crop: :fill %>'); height: 50vh; background-position: center;">
<% else %>
  <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); height: 50vh; background-position: center;">
<% end  %>

    <h1><%= @artist.name %></h1>

</div>


 <% if  %>
<% @artist.bio != nil %>
<div class="content-artist">
  <div class="wrap-show">
    <div class="band-description">
      <p><%= @artist.bio %></p>
      <p><%= link_to "Read more on wikipedia", @artist.wiki_url, target: "_blank" %></p>
      <div class="content-social">
        <%= button_to "Website", @artist.website_url, :method => :get, :form_class => "btn_artist", class: "btn-social", form: {target: '_blank'} %>
        <%= button_to "Facebook", @artist.facebook_url, :method => :get, :form_class => "btn_artist", class: "btn-social", form: {target: '_blank'} %>
        <%= button_to "Instagram", @artist.instagram_url, :method => :get, :form_class => "btn_artist", class: "btn-social", form: {target: '_blank'} %>
        <%= button_to "Twitter", @artist.twitter_url, :method => :get, :form_class => "btn_artist", class: "btn-social", form: {target: '_blank'} %>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="wrapper-grey">

<div class="content">
<h3>Albums from <%= @artist.name %> part of the 365 best ever list</h3>
<% index = 1 %>
  <% @albums.each_with_index do |album, i| %>

    <div class="card-home">
      <div class="card-content">

        <div class="card-cover">
          <% if album.photo_cover.present? %>
            <div class="card-img" style="background-image: url('<%= cl_image_path album.photo_cover, crop: :fill %>'); background-position: center, width: 20%;">
          <% else %>
            <% index =  i + 11 %>
            <% url = "https://source.unsplash.com/collection/1068/5#{index}x5#{index}" %>
            <div class="card-img" style="background-image: url('<%= url %>'); background-position: center, width: 20%;">
          <% end %>
          <div class="red-rank" style="background-image: url('<%= image_path "ic-rank.png", crop: :fill %>'); background-position: center;">
            <p class="album-rank">#<%= album.rank %></p>
          </div>
           </div>
        </div>

        <div class="card-descr">
          <div class="album-name"><%= link_to album.name, album_path(album.id) %></div>
          <div class="group-name"><%= link_to album.artist.name, artist_path(album.artist.id) %></div>
          <p class="year-genre"><%= link_to album.music_style, albums_path(music_style: album.music_style) %>, <%= link_to album.year, albums_path(year: album.year) %></p>
        </div>
          <div class="iconflex">
            <div class="iconsindex" id='<%= "icons_#{album.id}" %>'>
              <%= render 'albums/icons_album', album: album %>
            </div>
          </div>
      </div>
    </div>

<% end %>
</div>
</div>

<div class="content-downpage">

    <div class="buttons">
      <%= link_to "Go back", "/", class: "btn-search" %>
    </div>
  </div>
</div>

</div>

</div>
