<% if @artist.photo.present? %>
  <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path @artist.photo, crop: :fill %>'); height: 50vh; background-position: center;">
<% else %>
  <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); height: 50vh; background-position: center;">
<% end  %>

    <h1><%= @artist.name %></h1>

</div>

<div class="content">
  <div class="wrap-show">

      <div class="band-description">
        <h3 class="red-title"><strong><%= @artist.name %></strong></h3>
        <ul class="list-unstyled">
          <h4>The artist story :</h4>
          <p><%= @artist.bio %></p>

          </ul>
          <p><%= link_to "Read more on wikipedia", @artist.wiki_url %>
          <%= button_to "Website", @artist.website_url, :method => :get, :form_class => "btn_artist", form: {target: '_blank'} %>
          <%= button_to "Facebook", @artist.facebook_url, :method => :get, :form_class => "btn_artist", form: {target: '_blank'} %>
          <%= button_to "Instagram", @artist.instagram_url, :method => :get, :form_class => "btn_artist", form: {target: '_blank'} %>
          <%= button_to "Twitter", @artist.twitter_url, :method => :get, :form_class => "btn_artist", form: {target: '_blank'} %>
          </p>
      </div>

      <!-- <div class="show-navigation">
      <div class="downpage-links">
        <h3 class="title-red">Discover more artists</h3>
        <% if @artist.previous.presence %>
          <p class="previous-element"><strong>Previous</strong> - <%= link_to @artist.previous.name, @artist.previous %></p>
        <% end %>

        <% if @artist.next.presence %>
          <p><strong>Next</strong> - <%= link_to @artist.next.name, @artist.next %></p>
        <% end %>
      </div>
    </div> -->
    </div>
  </div>

<div class="content">
<h3><%= @artist.name %> albums in our top :</h3>
<% index = 1 %>
  <% @albums.each_with_index do |album, i| %>

    <div class="card-home">
      <div class="card-content">

        <div class="card-cover">
          <% if album.photo_cover.present? %>
            <div class="card-img" style="background-image: url('<%= cl_image_path album.photo_cover, crop: :fill %>'); background-position: center, width: 20%;">
          <% else %>
            <% index =  i + 11 %>
            <% url = "https://source.unsplash.com/collection/1068/5#{index}x5#{index}" %>
            <div class="card-img" style="background-image: url('<%= url %>'); background-position: center, width: 20%;">
          <% end %>
          <div class="red-rank" style="background-image: url('<%= image_path "ic-rank.png", crop: :fill %>'); background-position: center;">
            <p class="album-rank">#<%= album.rank %></p>
          </div>
           </div>
        </div>

        <div class="card-descr">
          <div class="album-name"><%= link_to album.name, album_path(album.id) %></div>
          <div class="group-name"><%= link_to album.artist.name, artist_path(album.artist.id) %></div>
          <p class="year-genre"><%= album.music_style %>, <%= album.year %></p>
          <div class="iconsindex" id='<%= "icons_#{album.id}" %>'>
            <% if user_signed_in? %>

              <% unless UserAlbum.find_by(user: current_user, album: album, status: "wishlist") || UserAlbum.find_by(user: current_user, album: album, status: "collected") %>
                <%= link_to album_user_albums_path(album, user_album: { status: "wishlist" }), method: :post, remote: :true, data: { status: 'wishlist'} do %>
                  <i data-toggle="tooltip" class="fas fa-heart" title="Add to your wishlist!"></i>
                <% end %>
              <% end %>

              <% unless UserAlbum.find_by(user: current_user, album: album, status: "collected") || UserAlbum.find_by(user: current_user, album: album, status: "wishlist") %>
                <%= link_to album_user_albums_path(album, user_album: { status: "collected" }), method: :post, remote: :true, data: { status: 'collected'} do %>
                  <i data-toggle="tooltip" class="fas fa-plus-square" title="Add to your collection!"></i>
                <% end %>
              <% end %>

            <% else %>
              <a data-toggle="tooltip" class="fas fa-heart" title="Login to add the album to your wishlist!"></a>
              <a data-toggle="tooltip" class="fas fa-plus-square" title="Login to add the album to your collection!"></a>
            <% end  %>
          </div>
        </div>
      </div>
    </div>

<% end %>
</div>

  <div class="downpage-links">
    <div class="buttons">
      <%= link_to "Go back", "/", class: "btn-search" %>
    </div>
  </div>

</div>

</div>
