<div class="cards-home" id="albums_id">
  <% index = 1 %>
  <% @albums.each_with_index do |album, i| %>

    <div class="card-home">
      <div class="card-content">

        <div class="card-cover">
          <% if album.photo_cover.present? %>
            <div class="card-img" style="background-image: url('<%= cl_image_path album.photo_cover, crop: :fill, width: 170; %>'); background-position: center, width: 20%;">
          <% else %>
            <% index =  i + 11 %>
            <% url = "https://source.unsplash.com/collection/1068/5#{index}x5#{index}" %>
            <div class="card-img" style="background-image: url('<%= url %>'); background-position: center, width: 20%;">
          <% end %>
          <div class="red-rank" style="background-image: url('<%= image_path "ic-rank.png", crop: :fill %>'); background-position: center;">
            <p class="album-rank">#<%= album.rank %></p>
          </div>
           </div>
        </div>

        <div class="card-descr">
          <div class="album-name"><%= link_to album.name, album_path(album.id) %></div>
          <div class="group-name"><%= link_to album.artist.name, artist_path(album.artist.id) %></div>
          <p class="year-genre"><%= link_to album.music_style, albums_path(music_style: album.music_style) %>, <%= link_to album.year, albums_path(year: album.year) %></p>
          <div class="iconsindex" id='<%= "icons_#{album.id}" %>'>
            <%= render 'albums/icons_album', album: album %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
