<% if user_signed_in? %>
  <% user_album = UserAlbum.find_by(user: current_user, album: album) %>

  <% if user_album && user_album.status == "wishlist" %>
    <%# il est dans la whishlist ie on peut l'enlever ou ajouter a la collection  %>
    <%= link_to user_album_path(user_album), method: :delete, remote: :true do %>
      <p data-toggle="tooltip" title="Add to your wishlist"><i class="fas fa-heart " ></i>I want it!</p>
    <% end %>

    <%= link_to album_user_albums_path(album, user_album: { status: "collected" }), method: :post, remote: :true, data: { status: 'collected'} do %>
      <p class="off" data-toggle="tooltip" title="Add to collection"><i class="fas fa-hand-peace" ></i>I have it!</p>
    <% end %>

  <% elsif user_album && user_album.status == "collected" %>
    <%# il est dans la collection ie on peut l'enlever ou ajouter a la whishlisr  %>
    <%= link_to album_user_albums_path(album, user_album: { status: "wishlist" }), method: :post, remote: :true, data: { status: 'wishlist'} do %>
      <p class="off" data-toggle="tooltip" title="Add to your wishlist"><i class="fas fa-heart" ></i>I want it!</p>
    <% end %>

    <%= link_to user_album_path(user_album), method: :delete, remote: :true do %>
      <p data-toggle="tooltip" title="Add to collection"><i class="fas fa-hand-peace" ></i>I have it!</p>
    <% end %>

  <% else %>
    <%# pas de user album ie on peut ajouter a la whishlist ou a la collection  %>
    <%= link_to album_user_albums_path(album, user_album: { status: "wishlist" }), method: :post, remote: :true, data: { status: 'wishlist'} do %>
      <p class="off" data-toggle="tooltip" title="Add to your wishlist"><i class="fas fa-heart"></i>I want it!</p>
    <% end %>

    <%= link_to album_user_albums_path(album, user_album: { status: "collected" }), method: :post, remote: :true, data: { status: 'collected'} do %>
      <p class="off" data-toggle="tooltip" title="Add to collection"><i class="fas fa-hand-peace"></i>I have it!</p>
    <% end %>
  <% end %>

<% else %>
  <p class="off" data-toggle="tooltip" title="Login to add the album to your wishlist"><i class="fas fa-heart"></i>I want it!</p>
  <p class="off" data-toggle="tooltip" title="Login to add the album to your collection"><i class="fas fa-hand-peace"></i>I have it!</p>
<% end  %>
