<!-- Modal -->
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Our recommandation for <%= @album.name %></h4>
      </div>
          <div class="modal-body">
            <% next_album = @album.next %>
              <% if next_album.photo_cover.present? %>
                <div class="card-modal" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path next_album.photo_cover, crop: :fill %>'); background-position: center, width: 20%;">
              <% else %>
                <% url = "https://source.unsplash.com/collection/1068/5" %>
                  <div class="card-modal" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= url %>'); background-position: center, width: 20%;">
                <% end  %>


                <div class="modal-text">
                  <ul>
                    <%= link_to next_album.name, album_path(next_album.id) %>
                    <%= " - " %>
                    <%= link_to next_album.artist.name, artist_path(next_album.artist.id) %>
                  </ul>
                </div>
            </div>
          </div>
      <div class="modal-footer">
        <%= button_to "Go on!", album_path(next_album.id), :class => "btn btn-danger", :method => :get %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




