<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@album.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Discover and listen #{@album.name} album of #{@album.artist.name}" %>
<% if  %>
 <% @album.photo_cover.url != nil %>
<% content_for :meta_image, cl_image_path(@album.photo_cover) %>
<% end  %>

<% if @artist.photo.present? %>
<div class="banner-album" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url('<%= cl_image_path @artist.photo, crop: :fill %>'); height: 50vh; background-position: center;">
<% else %>
<div class="banner-album" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); height: 50vh; background-position: center;">
<% end  %>

  <div class="banner-elements">
    <% if @album.photo_cover.present? %>
      <div class="cover-album" style="background-image: url('<%= cl_image_path @album.photo_cover, width: 250; %>'); height: 250px; width: 250px; background-position: center;">
    <% else %>
      <div class="banner-home" style="background-image: url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); height: 50vh; background-position: center;">
    <% end  %>
      </div>

    <div class="album-title">
      <h1><%= @album.name %></h1>
      <%= link_to @album.artist.name, artist_path(@album.artist.id) %>
      <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal" id="btn-reco">
       Smart recommandation
      </button>
    </div>
  </div>
</div>

<div class="content-nav">
  <div class="nav-banner">
    <% if @album.previous.presence %>
      <p><%= link_to "< Previous album", @album.previous %></p>
    <% end %>

    <% if @album.next.presence %>
      <p><%= link_to "Next album >", @album.next %></p>
     <% end %>
  </div>
</div>

<div class="content-album">
  <div class="wrap-show">

    <div class="band-description">

        <p class="artist-name-title"><%= link_to @album.artist.name, artist_path(@album.artist.id), class: "text-delete" %></p>
        <p>Rank : <strong><%= @album.rank %></strong></p>
        <p>Music style : <strong><%= @album.music_style %></strong></p>
        <p>Year : <strong><%= @album.year %></strong></p>
        <br>
        <% if  %>
          <% @album.description != nil %>
          <p><%= @album.description %></p>
          <p><%= link_to "Read more on wikipedia", @album.wiki_url, target: "_blank" %></p>
        <% end %>
    </div>

    <div class="content-player">
      <h3 class="title-show-album">Listen to the complete album</h3>
      <% if  %>
      <% @album.deezer_album_id != nil %>
        <div class="player_albums">
          <script>
          (function(d, s, id) {
          var js, djs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://e-cdns-files.dzcdn.net/js/widget/loader.js";
           djs.parentNode.insertBefore(js, djs);
          }(document, "script", "deezer-widget-loader"));</script>
          <div class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=500&color=d70303&layout=&size=medium&type=album&id=<%= @album.deezer_album_id %>" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="400" data-height="500">
          </div>
        <% else  %>
          <div class="player_unavailable">
            <p>Playlist not available at the moment.</p>
          </div>
        <% end  %>
      </div>
    </div>

  </div>

</div>


<div class="content-links">
  <h3 class="title-buttons">Buy <%= @album.name %> album on Amazon</h3>
  <div class="inline_buttons">
    <p class="margin-amazon"><a class="btn-amazon" href="https://www.amazon.com/s/ref=nb_sb_ss_i_1_21?url=search-alias%3Daps&field-keywords=<%= @album.normalized_name.gsub('-','+') %> +vinyl" target="_blank"><span class="fas fa-shopping-cart"></span>Buy vinyl album</a></p>
    <p class="margin-amazon2"><a class="btn-amazon" href="https://www.amazon.com/s/ref=nb_sb_ss_i_1_21?url=search-alias%3Daps&field-keywords=<%= @album.normalized_name.gsub('-','+') %> +audio+cd" target="_blank"><span class="fas fa-shopping-cart"></span>Buy CD audio</a></p>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
</div>
</div>

<div class="wrapper-grey">

<div class="content">
<h3 class="title-show-album">Best ever albums from <%= @artist.name %></h3>
<% index = 1 %>
  <% @albums.each_with_index do |album, i| %>

    <div class="card-home">
      <div class="card-content">

        <div class="card-cover">
          <% if album.photo_cover.present? %>
            <div class="card-img" style="background-image: url('<%= cl_image_path album.photo_cover, crop: :fill, width: 170; %>'); background-position: center, width: 20%;">
          <% else %>
            <% index =  i + 11 %>
            <% url = "https://source.unsplash.com/collection/1068/5#{index}x5#{index}" %>
            <div class="card-img" style="background-image: url('<%= url %>'); background-position: center, width: 20%;">
          <% end %>
          <div class="red-rank" style="background-image: url('<%= image_path "ic-rank.png", crop: :fill %>'); background-position: center;">
            <p class="album-rank">#<%= album.rank %></p>
          </div>
          </div>
        </div>

        <div class="card-descr">
          <div class="album-name"><%= link_to album.name, album_path(album.id) %></div>
          <div class="group-name"><%= link_to album.artist.name, artist_path(album.artist.id) %></div>
          <p class="year-genre"><%= link_to album.music_style, albums_path(music_style: album.music_style) %>, <%= link_to album.year, albums_path(year: album.year) %></p>
          <div class="iconsindex" id='<%= "icons_#{album.id}" %>'>
            <% if user_signed_in? %>

              <% unless UserAlbum.find_by(user: current_user, album: album, status: "wishlist") || UserAlbum.find_by(user: current_user, album: album, status: "collected") %>
                <%= link_to album_user_albums_path(album, user_album: { status: "wishlist" }), method: :post, remote: :true, data: { status: 'wishlist'} do %>
                  <i data-toggle="tooltip" class="fas fa-heart" title="Add to your wishlist!"></i>
                <% end %>
              <% end %>

              <% unless UserAlbum.find_by(user: current_user, album: album, status: "collected") || UserAlbum.find_by(user: current_user, album: album, status: "wishlist") %>
                <%= link_to album_user_albums_path(album, user_album: { status: "collected" }), method: :post, remote: :true, data: { status: 'collected'} do %>
                  <i data-toggle="tooltip" class="fas fa-plus-square" title="Add to your collection!"></i>
                <% end %>
              <% end %>

            <% else %>
              <a data-toggle="tooltip" class="fas fa-heart" title="Login to add the album to your wishlist!"></a>
              <a data-toggle="tooltip" class="fas fa-plus-square" title="Login to add the album to your collection!"></a>
            <% end  %>
          </div>
        </div>
      </div>
    </div>

<% end %>
</div>
</div>

<div class="content-downpage">
  <div class="downpage-links">
    <% if @album.previous.presence %>
      <p><%= link_to "< Previous album", @album.previous %></p>
    <% end %>

     <div class="buttons">
       <%= link_to "Go back", "/", class: "btn-search" %>
     </div>

    <% if @album.next.presence %>
      <p><%= link_to "Next album >", @album.next %></p>
     <% end %>
  </div>
</div>

</div>
</div>
</div>
<%= render 'albums/modal' %>
