<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <link rel="shortcut icon" type="image/x-icon" favicon_link_tag="/app/assets/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
    <title>That's My Rock! - Experience the best ever music albums</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="That's My Rock!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.thatsmyrock.com" />
    <meta property="og:image" content="<%= image_url('thatsmyrock-image-banner-facebook.jpg') %>" />
    <meta property="og:description" content="Experience the best music! We are tracking the best music around the world and across decades to share with you an awesome rock odyssey." />
    <meta property="og:site_name" content="That's My Rock!" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="thatsmyrock">
    <meta name="twitter:title" content="That's My Rock!">
    <meta name="twitter:description" content="Experience the best ever music albums">
    <meta name="twitter:creator" content="thatsmyrock" >
    <meta name="twitter:image:src" content="<%= image_url('thatsmyrock-image-banner-twitter.jpg') %>">

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= javascript_pack_tag "pagination" %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dd012da57b105a4"></script>
  </body>
</html>
